.site-index {
	min-height: 95vh;
}

.body-content {
	margin-top: 100px;
}

.footer {
	background: #ccc;
}

h1.btn-primary {
	font-size: 2rem;
}
.badge-price{
	padding: .5rem;
	font-size: 2rem;
}